<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data science tools and Ecosystem

### In this notebook, Data science tools and Ecosystem are sumarized.

##### some of the languages used for Data science are
1. python language
2. R language 
3. Julia

# OBJECTIVES
- Tools for data science
- list Libraries used in data science
- create tables with jupyter notebook
- list languages of data science

## some of the libraries used by Data scientist inclued:
1. Pandas
2. Numpy
3. matplotlib
4. keras

| Data Science Tools |
| ------------------ |
| jupyter labs |
| R studio |
| watson studio |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# Exercise 8
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [4]:
# Exercise 9
#This will convert 200 minutes to hours by diving by 60
minutes = 200
convert_to_hours = minutes / 60
print("200 minutes have been converted to ", convert_to_hours ,  "Hours")

200 minutes have been converted to  3.3333333333333335 Hours

## AUTHOR
Daniel Yamai Philips